BODY {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
P {
	MARGIN-LEFT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica
}
OL {
	LINE-HEIGHT: 12pt
}
UL {
	LINE-HEIGHT: 12pt
}
LI {
	LINE-HEIGHT: 12pt
}
TD UL {
	LINE-HEIGHT: 12pt
}
TD LI {
	LINE-HEIGHT: 12pt
}
INPUT {
	FONT-FAMILY: Arial, Verdana, Helvetica
}
TEXTAREA {
	FONT-FAMILY: Arial, Verdana, Helvetica
}
P.floating {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px; TEXT-ALIGN: justify
}
.flapMember {
	LEFT: 400px; POSITION: absolute; TOP: 180px
}
H3 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 5px; COLOR: #8f0000; LINE-HEIGHT: 16pt; MARGIN-RIGHT: 30px; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
H4 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN-BOTTOM: 5px; COLOR: #8f0000; LINE-HEIGHT: 16pt; MARGIN-RIGHT: 30px; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
TD.TopMenue {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica
}
TD.TopMenue A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
TD.TopMenue A:hover {
	COLOR: #990000
}
FORM.upload {
	BORDER-RIGHT: #c0c0c0 thin dashed; BORDER-TOP: #c0c0c0 thin dashed; MARGIN-LEFT: 0px; BORDER-LEFT: #c0c0c0 thin dashed; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #c0c0c0 thin dashed; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #f8ecc2
}
INPUT.search {
	BORDER-RIGHT: #000000 thin outset; BORDER-TOP: #000000 thin outset; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #000000 thin outset; COLOR: #484848; BORDER-BOTTOM: #000000 thin outset; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
INPUT.flat {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #000000 thin solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #000000 thin solid; COLOR: #484848; BORDER-BOTTOM: #000000 thin solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
TD.tdRedBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.okker {
	BORDER-RIGHT: #808080 thin inset; BORDER-TOP: #808080 thin inset; BORDER-LEFT: #808080 thin inset; BORDER-BOTTOM: #808080 thin inset; BACKGROUND-COLOR: #eeeecc
}
TABLE.white {
	BORDER-RIGHT: #808080 thin inset; BORDER-TOP: #808080 thin inset; BORDER-LEFT: #808080 thin inset; BORDER-BOTTOM: #808080 thin inset; BACKGROUND-COLOR: #ffffff
}
#redbold {
	FONT-WEIGHT: bold; COLOR: #990000
}
PRE {
	FONT-FAMILY: Monotype
}
#preinput {
	FONT-FAMILY: Monotype
}
TABLE {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica
}
TH {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica
}
TR {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica
}
TD {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica
}
TD.tdTextStandard {
	LINE-HEIGHT: 12pt; TEXT-ALIGN: justify
}
TD.tdTextCentered {
	LINE-HEIGHT: 12pt; TEXT-ALIGN: center
}
TD.tdOddRow {
	BACKGROUND-COLOR: #eeeecc
}
TD.tdEvenRow {
	BACKGROUND-COLOR: #ffffff
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A:link {
	COLOR: #990000
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #993300; TEXT-DECORATION: none
}
A:active {
	COLOR: #990000
}
A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
TABLE.tblStandard {
	BORDER-RIGHT: #cccccc 2px solid; BORDER-TOP: #cccccc 2px solid; BORDER-LEFT: #cccccc 2px solid; BORDER-BOTTOM: #cccccc 2px solid
}
TH.thRedHeadingOkkerBig {
	FONT-SIZE: 12pt; COLOR: #990000; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: center
}
TH.RedHeadingOkker {
	FONT-SIZE: 9pt; COLOR: #990000; BACKGROUND-COLOR: #cccc99
}
TD.tdHeadingOkker {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND-COLOR: #cccc99
}
TD.tdWhiteHeadingRed {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; BACKGROUND-COLOR: #990000; TEXT-ALIGN: center
}
TD.tdStandardLightOkker {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #eeeecc
}
TD.tdOkker {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #cccc99
}
TD.tdWhite {
	BACKGROUND-COLOR: #ffffff
}
TABLE.TopMenue {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.heading {
	FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: MS Trebuchet,Verdana,Arial,Helvetica
}
#lokker {
	BORDER-RIGHT: #c0c0c0 thin dashed; BORDER-TOP: #c0c0c0 thin dashed; BORDER-LEFT: #c0c0c0 thin dashed; BORDER-BOTTOM: #c0c0c0 thin dashed; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #f8ecc2
}
INPUT.search {
	BORDER-RIGHT: #000000 thin outset; BORDER-TOP: #000000 thin outset; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #000000 thin outset; COLOR: #484848; BORDER-BOTTOM: #000000 thin outset; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
INPUT.flat {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #000000 thin solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #000000 thin solid; COLOR: #484848; BORDER-BOTTOM: #000000 thin solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
TD.tdRedBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.okker {
	BORDER-RIGHT: #808080 thin inset; BORDER-TOP: #808080 thin inset; BORDER-LEFT: #808080 thin inset; BORDER-BOTTOM: #808080 thin inset; BACKGROUND-COLOR: #eeeecc
}
TABLE.white {
	BORDER-RIGHT: #808080 thin inset; BORDER-TOP: #808080 thin inset; BORDER-LEFT: #808080 thin inset; BORDER-BOTTOM: #808080 thin inset; BACKGROUND-COLOR: #ffffff
}
#redbold {
	FONT-WEIGHT: bold; COLOR: #990000
}
#white {
	FONT-SIZE: 8pt; COLOR: #ffffff
}
#red {
	FONT-SIZE: 8pt; COLOR: #990000
}
#black {
	FONT-SIZE: 8pt; COLOR: #000000
}
A#black:hover {
	COLOR: #990000
}
.red {
	FONT-SIZE: 8pt; COLOR: #990000
}
TD.pollquestion {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #990000; FONT-FAMILY: Verdana,Arial,Tahoma,Helvetica; BACKGROUND-COLOR: #cccc99
}
TD.pollOptions {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #eeeecc
}
TD.pollBars {
	MARGIN-LEFT: 0px; BACKGROUND-COLOR: #990000
}
TD.totalVotes {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #cccc99
}
.tooltip {
	BORDER-RIGHT: #990000 1px solid; BORDER-TOP: #990000 1px solid; DISPLAY: none; FONT-SIZE: 8pt; BACKGROUND: #990000; BORDER-LEFT: #990000 1px solid; WIDTH: auto; BORDER-BOTTOM: #990000 1px solid; FONT-FAMILY: Verdana,Arial; POSITION: absolute
}
.aToolTip {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana,Arial; TEXT-DECORATION: none
}
A.aToolTip:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.aToolTip:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.aToolTip:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.aToolTip:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.awhite:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.awhite:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.awhite:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.awhite:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#OK {
	FONT-WEIGHT: bold; MARGIN-LEFT: 20px; COLOR: #0000ee
}
#Error {
	FONT-WEIGHT: bold; MARGIN-LEFT: 20px; COLOR: #990000
}
#blue {
	COLOR: #0000cc
}
.Label {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: center
}
H1.article {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #990000; TEXT-ALIGN: left
}
H2.article {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 15px; COLOR: black; TEXT-ALIGN: left
}
DIV.article {
	FONT-SIZE: 8pt; MARGIN-LEFT: 15px; LINE-HEIGHT: 13pt; MARGIN-RIGHT: 15px; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-ALIGN: justify
}
DIV.image {
	FONT-SIZE: 8pt; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-ALIGN: center
}
P.article {
	FONT-SIZE: 8pt; MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-ALIGN: justify
}
PRE.article {
	FONT-SIZE: 8pt; MARGIN-LEFT: 15px; LINE-HEIGHT: 13pt; MARGIN-RIGHT: 15px; FONT-FAMILY: Monotype
}
UL.article {
	FONT-SIZE: 8pt; LINE-HEIGHT: 13pt; MARGIN-RIGHT: 10px; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-ALIGN: justify
}
A:link P.class {
	COLOR: #3333cc
}
LI {
	FONT-SIZE: 10pt; MARGIN-LEFT: 5pt; LINE-HEIGHT: 12pt; PADDING-TOP: 5pt
}
BODY .title {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #990000; TEXT-ALIGN: center
}
TABLE .title {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #990000; TEXT-ALIGN: center
}
BODY .label {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
TABLE .label {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
BODY .content {
	COLOR: #000000; BACKGROUND-COLOR: #eeeecc
}
TABLE .content {
	COLOR: #000000; BACKGROUND-COLOR: #eeeecc
}
BODY .bottom {
	BACKGROUND-COLOR: #cccc99
}
BODY TABLE.tblAdmin {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 2px; BACKGROUND: #666666; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: 0px
}
BODY TH.ALTitle {
	FONT-SIZE: 12pt; COLOR: #990000; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
BODY TD.ALContent {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #eeeecc
}
#ArticleTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; TEXT-ALIGN: left
}
#navy {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: navy; FONT-FAMILY: Verdana,Arial,Helvetica
}
